.section > * + * {
  margin-top: 1rem;
}
.user-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.text-field label {
  display: block;
  margin-bottom: 4px;
}

.text-field input {
  display: block;
}

.error {
  color: tomato;
}
